---
layout: page
---

<section class="columns">
    <div class="column is-4">
        <img src="/assets/EconDL.png">
    </div>
    <div class="column is-4">
        
    </div>   
    <!-- <div class="column is-4">
        <div class="content">
            <h3 class="title">Contact</h3>
            {{site.data.meta.index.contact | markdownify}}
        </div>
    </div> -->
    <div class="column is-3">
        <div class="content">
            <h3 class="title">Recent News</h3>
            {% for news in site.data.news limit:10 %}
            <div class="columns">
                <div class="column is-3">
                    <span class="tag news-time {% if news.highlight != nil %}
                    {{ site.data.meta.index.news_highlight_color}}
                        {% endif %}">
                        {{ news.time }}
                    </span>
                </div>
                <div class="column is-9">
                    {{ news.title | markdownify }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="columns">
    <div class="column is-8">
        <div style="text-align: justify">
            <div class="content">
                <h3 class="title">About</h3>
                {{site.data.meta.index.about | markdownify}}
            </div>
        </div>
    </div>
    <!-- <div class="column is-3">
        <div class="content">
            <h3 class="title">Recent News</h3>
            {% for news in site.data.news limit:10 %}
            <div class="columns">
                <div class="column is-3">
                    <span class="tag news-time {% if news.highlight != nil %}
                    {{ site.data.meta.index.news_highlight_color}}
                        {% endif %}">
                        {{ news.time }}
                    </span>
                </div>
                <div class="column is-9">
                    {{ news.title | markdownify }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->
</section>

<section class="columns">
    <div class="column is-9">
        <div style="text-align: justify">
            <div class="content">
                <h3 class="title">Research Vision</h3>
                {{site.data.meta.index.research_vision | markdownify}}
            </div>
        </div>
    </div>
</section>

<section class="columns">
    <div class="column is-10">
        <h3 class="title">Research Support</h3>
        <div class="sponsors">
            {% for sponsor in site.data.meta.sponsors %}
            <div class="sponsor">
                <a class="sponsor-item" href="{{ sponsor.link }}" target="_blank" rel="nofollow" title="">
                    <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" style="max-height: 3rem;">
                </a>
                <p>{{ sponsor.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
